
.cuisines{
  background-color: #fff;
  margin:10px;
  margin-bottom:700px;
  

  

h2{
  padding-left: 10px;
  margin: 0;
  color: white;
  background-color:$navbar-color;
  
}
ul{
  display: flex;
  flex-wrap: wrap;
  padding:0;
  padding: 10px;
  
  
}
li{
  
  list-style-type: none;
  &:nth-child(odd){width: 110px;}
  &:nth-child(even){width: calc(100% - 110px);padding-left: 10px;}
  
}

@include mq($tabletPortrait){
.cuisines{
  max-height:360px;
}

}
@include mq($desktopMedium){
  .cuisines{
    max-height: 600px;
  }

  ul{
    flex-direction: column;
  }
  li{
    
    margin: 0;
    margin-bottom:0;
    &:nth-child(odd){width: 110px;padding-left:5px}
  &:nth-child(even){width: calc(100% - 110px);padding-left: 5px;}
  };
}

}