// Header styles
header {
    background-color: $header-color;
    padding: $padding/2 $padding;
    @include flex-layout-row;
    align-items: center;

    .icon{
        display: none;
    }

    @include mq($desktopMedium){
        .icon{
            display: block;
            ul{
                @include flex-layout-row;
    
                li{
                    padding: 5px 10px;
                    background-color:transparent;
                    list-style: none;
                        i{
                            list-style: none;
                            color:$navbar-color;
                            font-size: 2em;
                        }
                      
                    }
            }
        } 
    }
}