// Header styles
header {
    .outer-row-wrapper {
        background-color: $header-color;
    }

    .row1{
        width: 100%;      
        padding: $padding $padding/2;
        @include flex-layout-row;
        align-items: center;
        max-width: 1200px;
        @include margin-center;

        .logo{
            background-image: url("../images/small_logo.jpg");
            width: 55px;
            height: 35px;
            padding: 0 10px;
        }

        .icon{
            display: none;
        }

        @include mq($phoneLandscape){
            .logo{
                background-image: url("../images/logo.png");
                width: 315px;
                height: 35px;
            }

            .icon{
                display: none;
            }
        }

        @include mq($tabletLandscape){
            .icon{
                display: block;
                ul{
                
                    @include flex-layout-row;
                    li{
                        padding: 5px 10px;
                        background-color:transparent;
                        list-style: none;
                            i{
                                list-style: none;
                                color:$navbar-color;
                                font-size: 2em;
                            }
                        
                        }
                }
            }
        }

        @include mq($desktopMedium){

            @include flex-layout-row;
            padding: $padding/4;
            .logo{
                order: 1;
                // flex: 0 0 50%;
            }
            
            .icon{
                display: block;
                // flex: 0 0 50%;
                order: 1;
            }
            
            
            
        }

}
}