// Main Styles
main {
    // padding: $padding;    
    display: flex;
    flex-direction: column;

    section:not(:first-child) {
        margin-top: $padding;
    }
    
    .gallery{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
        .gallery-item{
            position: relative;
            margin: 5px 0;
            figure{
                display: inline-block;
                margin:0;
                padding: 0;
                width: 100%;

                img{
                    display: block;
                    height: 100%;
                    width: 100%;

                }
                figcaption{
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    margin: 0;
                    padding: 10px;
                    background-color: rgba(61, 58, 58, 0.781);
                    color: white;
                }
            }
        }
 
    }

    .recipes{
        order: 1;
    }
    .cuisines{
        order: 2;
    }

    .posts{
        order: 3;
    }

    @include mq($phoneLandscape){

        .gallery{

                flex-direction: row;
                flex-wrap: wrap;

                .galler-item-01{
                    flex: 0 0 100%;
                }

                .galler-item-02{
                    flex: 0 0 49%;
                }

                .galler-item-03{
                    flex: 0 0 49%;
                }
        }
        
    }

    @include mq($desktopMedium){
        display: grid;
        //grid-template-columns: 1fr repeat(2,350px) minmax(150px, auto) 1fr;
        grid-template-columns:  75% 25% ;
        grid-template-rows:repeat(4, auto);
        // grid-template-rows:minmax(408px, auto) minmax(250px, auto) repeat(2,386px);
        grid-gap: 1px;
        .gallery{
            grid-column: 1 / 2;
            grid-row: 1 / 3; 
            
        }

        .recipes{
            grid-column: 2 / 3;
            grid-row: 1 /  2;  
        }

        .cuisines{
            grid-column: 2 / 3;
            grid-row: 2 / 4;
            align-self: start;
        }

        .posts{
            grid-column: 1 / 2;
            grid-row: 3 / 3;  
        }


    }

}