// Main Navigation Styles
nav {
    // locally scoped variable
    $height: 40px;
    background-color:$navbar-color;
    display: none;
    
    .show & {
        display: block;
        transition: height 0.3s ease, visibility 0s;
        visibility: visible;
    }

    ul {
        @include flatten;
        list-style: none;
        background-color: $navbar-color-light;
        max-width: 1200px;
        
    }

    a {
        display: block;
        line-height: 50px;
        color:white;
        border-top: $border;
        line-height: $height;
        text-align: center;
        font-size: 1.2em;
        text-decoration: none;
        outline: none;
        
        #{$link-hover-selector} {
            background-color: rgba(white, 0.3);
        }

    }

    @include mq($tabletLandscape){
        display: block;
        height: $height;
        border-top: $border;
        order: 2;
        ul {
            display: flex;
            @include margin-center;

            li {
                flex: 1;

                &:last-child{
                    flex: 0;
                }
            }

        }

        

        a {
            line-height: $height;
            border-right: $border;
            border-top: $border;
            @at-root nav li:last-child a {
                border-right: none;
            }
        }
    }

    @include mq($desktopMedium) {
    
        display: block;

        ul{
            li {
                &:last-child{
                    flex: 1 1 25%;
                }
            }

        }
      
    }

}