.recipes{
  margin: 10px;
  background-color: #fff;
  order:2;

    h2{
      color: white;
      background-color: $navbar-color;
      margin: 0;
      font-family: $navbar-font;
      padding-left: 10px;
    }
    ul{
      padding: 0;
      margin: 0;
    }
    li{
      list-style: none;
      display: flex;
      padding: 10px;

      p{
        padding-left:10px;
      }
    }
    li:nth-child(2n) {
      background-color: rgb(151, 149, 149)
    }


}