$bg-color: lightgrey;
$wrapper-bg-color:white;
$header-color: rgb(240, 236, 236);
$text-color-dark:rgba(22, 155, 243, 0.849);
$text-color-light:rgb(59, 111, 255);
$navbar-color: rgb(20, 101, 155);



// Fonts
$body-font: Georgia, Times, Times New Roman, serif;
$navbar-font: 'Roboto Condensed', sans-serif;
$heading-font: Tahoma, Verdana, Segoe, sans-serif;
// Typographic Defualts
$line-height: 1.4;

// Layout variables
$padding: 30px;
// Grid Values
$gutter: 2;

// Function to determine column width
// takes two numerical parameters:
// $c -> the number of columns in a row
// $g -> the gutter amount

// @function colWidth($c, $g: 2){
//     @return ((100 - $g * ($c - 1)) / $c) * 1%;
// }

// $one-col: 100%;
// $two-col: colWidth(2);
// $three-col: colWidth(3);
// $four-col: colWidth(4);
// $five-col: colWidth(5);
// $six-col: colWidth(6);

@function em($px, $bc: 16){
    @return #{$px/$bc}em;
}

// Media Query Breakpoints
$desktopMedium: em(1250);
$tabletLandscape: em(1024);
$tabletPortrait: em(850);
$phoneLandscape: em(670);
$phonePortrait: em(420);

// Utility variables
$link-hover-selector: '&:hover, &:focus, &:active';